<%var name%>
<%- include('parts/header') %>


<main class="mt-4">
    <div class="container text-center">
        <h2>Assalomu alaykum, <%= name ? name + "." : "Mehmon!"%></h2>
    </div>
</main>

<%- include('parts/footer') %>
