<%- include('parts/header') %>

<main class="mt-4">
    <div class="container text-center">
        <h1>Login</h1>
        <div class="row">
            <% if ( error ) { %>
                <div clas="alert alert-danger"><%= error %></div>
            <% } %>
            <div class="col-lg-6 col-12 mx-auto">
                <form action="/login" method="post">
                    <div class="form-floating mb-3">
                        <input type="email" autocomplete="off" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" autocomplete="off" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                </form>
            </div>
        </div>
    </div>
</main>

<%- include('parts/footer') %>
